{% extends 'base.html' %}

{% block page_content %}
    <!--Details Page-->
    <section id="detailsPage">
        <div class="wrapper">

            <div class="albumCover">
                <!-- Album Image -->
                <img src="{{ item.image_url }}" alt="Cover Image">
            </div>

            <div class="albumInfo">

                <div class="albumText">
                    <!-- Album Info -->
                    <h1>Name: {{ item.album_name }}</h1>
                    <h3>Artist: {{ item.artist }}</h3>
                    <h4>Genre: {{ item.genre }}</h4>
                    <h4>Price: ${{ item.price|floatformat:2 }}</h4>
                    {% if item.description %}
                        <p>Description: {{ item.description }}</p>
                    {% endif %}
                </div>

                <div class="actionBtn">
                    <!-- Album Buttons -->
                    <a href="{% url 'edit item' id=item.pk %}" class="edit">Edit</a>
                    <a href="{% url 'delete item' id=item.pk %}" class="remove">Delete</a>
                </div>

            </div>
        </div>
    </section>
{% endblock %}